body{
    overflow-x: hidden;
}
h2{
    color:black;
    font-family: 'Merriweather', serif;
    margin-left: 100px;
}
p{
    position: absolute;
    top:40px;
    margin-left: 120px;
    font-size: 15px;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li a {
    text-decoration: none;
    color:black;

}
ul li{
    float:left;
    list-style: none;
    margin: 15px;

} 
ul{
    position: absolute;
    top:10px;
    left:700px;
}
ul li a:before{
    content: '';
    width:0%;
    height:5%;
    background-color: black;
    position: absolute;
    bottom:20% ;
    transition: all 500ms ease;
}
ul li a:hover::before{
    width:17%;
}
ul li a:hover{
    color:#6495ED;
}
#more{
    position: absolute;
    top:33px;
    left:1400px;
    background-color: transparent;
    border-radius: 50%;
    border:none;
}
#more img {
    width:30px;
    height:30px;
}
#more:hover{
    background-color: #6495ED;
}
#draw{
    width:400px;
    height:400px;
    border-radius: 50%;
    background-color:#6495ED;
    position: absolute;
    top:130px;
    left:800px;
}
 #img {
    width:600px;
    height:600px;
    position: absolute;
    top:130px;
    left:700px;
}
h1{
    font-weight: bold;
    font-family: 'Goblin One', cursive;
    font-size: 40px;
    position: absolute;
    top:240px;
    left:70px;
}
.p{
    width:400px;
    position: absolute;
    top:340px;
    left:-30px;
    font-family: 'Times New Roman', Times, serif;
}
#find{
    padding:20px;
    margin:10px;
    border:none;
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
position: absolute;
top:520px;
left:200px;
border-radius: 10px;
color:white;
font-weight: bold;
}
#find:after{
    content: '\00bb';
    opacity: 0;
    position: absolute;
    right:-18px;
    transition: .5s;
    top:20;

}
#find:hover:after{
    opacity: 1;
    right:7px;
}
#one{
background-color: #6495ED;
border:1px solid black;
width:50px;
height:50px;
transition: width 1s;
}
#one img {
    width:40px;
    height:40px;
    background-color: transparent;
    margin-left: 5px;
}
#two{
    background-color: #6495ED;
    border:1px solid black;
    width:50px;
    height:50px;
    transition: width 1s;
    }
    #two img {
        width:40px;
        height:40px;
        background-color: transparent;
        margin-left: 5px;
    }
    #thre{
        background-color: #6495ED;
        border:1px solid black;
        width:50px;
        height:50px;
        transition: width 1s;
        }
        #thre img {
            width:40px;
            height:40px;
            background-color: transparent;
            margin-left: 5px;
        }
            #all{
                position: absolute;
                left:1300px;
                display: none;
            }
            #all div:hover{
                background-color: gray;
                width:170px;
            }
            #all div:hover span{
                display: inline;
                transition: 1s;
            }
            #all div span{
                display:none;
            }
            #all #one span{
                position: absolute;
                top:20px;
                left:52px;
                color:white;
                
            }
            #all #two span{
                position: absolute;
                top:60px;
                left:54px;
                color:white;
            }
                #all #thre span{
                    position: absolute;
                    top:120px;
                    left:52px;
                    color:white;
                }
                /*the next part*/
                 
   .next{
       width:1460px;
       height:700px;
       background-color: #808080;
       position: absolute;
       top:850px;
       left:-10px;
   }
   .next h2{
       position: absolute;
       top:10px;
       left:500px;
       font-size: 40px;
       font-family: 'Itim', cursive;
       color:black;
       opacity: 1;
   }
   .next p{
       width:500px;
       position: absolute;
       left:350px;
       top:100px;
   }
   .next div {
       width:300px;
       height:400px;
       background-color: white;
       border-radius: 30px;
       margin-left: 60px;
       -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 23px 29px rgb(0 0 0 / 80%);
   }
   .next .one{
       position: absolute;
       left:40px;
       top:260px;
   }
   .next .one h2 {
       position: absolute;
       top:60px;
       left:-30px;
   }
   .next .one p{
       top:110px;
       left:-2px;
   }
   .next  div  p{
       width:250px;
       margin:50px;
   }
   .next div h2{
       font-size: 26px;
   }
   .next .two{
       position: absolute;
       left:490px;
       top:260px;
   }
   .next .two h2 {
    position: absolute;
    top:60px;
    left:0px;
}
.next .two p{
    top:110px;
    left:-10px;
}

   .next .thre{
       position: absolute;
       left:890px;
       top:260px;
   }
   .next .thre h2 {
    position: absolute;
    top:60px;
    left:0px;
}
.next .thre p{
    top:110px;
    left:-2px;
}
.next button{
    width:60px;
    height:60px;
    border-radius: 50%;
    border: none;
}
.next button img {
    width:60px;
    height:60px;
    position: absolute;
    top:20px;
    left:10px;
    border-radius: 50%;
}
.next div .btn{
    border-radius: 6px;
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 position: absolute;
 top:310px;
 left:90px;
 padding:10px;
 margin:5px;
 width:120px;
 height:40px;
}
.next div .btn:before{
    content: '';
    width:0%;
    height:5%;
    background-color: black;
    position: absolute;
    bottom:20% ;
    transition: all 500ms ease;
}
.next div .btn:hover::before{
    width:70%;
}
.next div .btn:hover{
    color:white;
    background: #334d50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-weight: bold;
}

.next div:hover{
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 50px 35px rgb(0 0 0 / 80%);   
}
/*the next step*/
.slide{
     position: absolute;
     top:1800px;
        
}
.slide #slide{
    width:700px;
    height:400px;
    position: absolute;
    top:-10px;
    left:700px;
    border:2px solid black;
}
.tan{
    width:400px;
    height:300px;
    background-color: #6495ED;
    padding: 10px;
    margin: 2px;
    position: absolute;
    top:20px;
    left:50px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 17px 20px rgb(0 0 0 / 80%);   
}
.tan h2 {
    font-weight: bold;
    position: absolute;
    top:10px;
    left:30px;
}
.tan p{
    margin:50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.tan button{
    padding:10px;
 margin:5px;
 width:100px;
 height:40px;
    border: none;
    position: absolute;
    top:200px;
    left:140px;
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    color:black;
    font-weight: bold;   
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 17px 20px rgb(0 0 0 / 80%);
    font-size: 13px;   
}
.tan button:hover{
    border:1px solid black;
    background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:white;
}
.slide button{
    border:none;
    position: absolute;
    top:200px;
    background-color: transparent;
}
.slide button img {
    width:30px;
    height:30px;
    border-radius: 50%;
}
#left{
    left: 680px;
}
#right{
    left: 1380px;
}
/*the next */
.count{
    position: absolute;
    top:2400px;
    left:20px;
    width:1400px;
    height:400px;
    background-color: #6495ED;
}
.count  img {
    width:60px;
    height:60px;
    position: absolute;
    top:50px;
    
}
.count .first img {
    left:100px;
}
.count p{
    font-size: 30px;
    position: absolute;
    top:140px;
}
.count h2{
    color: white;
    position: absolute;
    top:240px;
}
.count .first h2 {
    left:-25px;
}
.count .second img {
    left:500px;
}
.count .second h2 {
    left:400px;
}
.count .second p {
 left:370px;
}
.count .third img {
    left:890px;
}
.count .third h2{
    left:810px;
}
.count .third p{
    left:780px;
}
.count .fourth img {
    left:1200px;
}
.count .fourth h2{
    left:1100px;
}
.count .fourth p{
    left:1090px;
}
/*the next*/
.top{
    width:1430px;
    height:700px;
    background-color: grey;
    position: absolute;
    left:10px;
    top:2900px;
}
.top h2 {
    position: absolute;
    top:20px;
    left:500px;
    font-size: 30px;;
}
.top div {
    background-color: white;
    width:350px;
    height:280px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 17px 20px rgb(0 0 0 / 80%);
    margin: 20px;
    padding:10px;
}
.top #moh{
    position: absolute;
    top:150px;
    left:40px;
}
.top #nora{
    position: absolute;
    top:150px;
    left:500px;
}
.top #omar {
    position: absolute;
    top:150px;
    left:1000px;
}
.top img {
    width:350px;
    height:240xp;
}
.top div  p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top:230px;
    left:-30px;
    font-weight: bold;
    color:black;
}
.top p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top:550px;
    left:300px;
    width:500px;
    color:white;
}
.top div:hover img{
    width:400px;
    height:300px;
}
.about{
    
    position: absolute;
    top:3800px;
    width:1470px;
    height:30
    

}
.about p{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left:20px;
    height:100px;
}
#facebook{
    width:30px;
    height:30px;
}
#twitter{
    width:30px;
    height:30px;
}
.about a{
    text-decoration: none;
}